/* Colors */
$green: #97CC04;
$greenBrighter: #c1e068;
$greenBrightest: #e0f0b4;

$platinum: #E6E8E6;
$platinumDarker: #cfd1cf;
$platinumDarkest: #b8bab8;

$black: #141115;
$blackBrighter: #2c292c;
$blackBrightest: #5b585b;

/* Resolutions */
$desktop-xxxl: 1600px;
$desktop-xxl: 1440px;
$desktop-xl: 1366px;
$desktop-l: 1280px;
$desktop-s: 920px;
$desktop-xs: 768px;

$mobile-l: 425px;
$mobile-s: 320px;

/* Font-Sizes */
$font-giant: 2rem;
$font-big: 1.5rem;
$font-normal: 1.125rem;
$font-small: 0.8125rem;


/* Additional Variables */
$container-padding: 2rem;
